@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
}

body::-webkit-scrollbar {
    width: .4rem;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: #000;
    outline: 1px solid #000;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #fcbd34;
    outline: 1px solid #fcbd34;
}

.mr_0 {
    margin: 0px !important;
}

.pd_0 {
    padding: 0px !important;
}

.pdr_0 {
    padding-right: 0px !important;
}

.pdl_0 {
    padding-left: 0px !important;
}

.pdtb_50{
    padding-top: 50px;
    padding-bottom: 50px;
}

.bg_darkblue {
    background-color: #1A385A !important;
}

.bg_black {
    background-color: #000 !important;
}

.br_tl {
    border-top-left-radius: 100px;
}

.custom_navbar {
    padding: 20px 0px !important;
    background: #fff !important;
}

.navbar-light .navbar-toggler{
    background: none !important;
}

/* .nav_box_shadow{
    box-shadow: 2px 12px 12px 0 #f5f5f5;
} */

.custom_nav_style {
    margin-left: auto;
    margin-right: 20px !important;
}

.custom_nav_style li a {
    font-weight: 600;
    font-size: 14px;
    color: #000 !important;
}

.custom_nav_style2 {
    margin-left: auto;
    margin-right: 20px !important;
}

.custom_nav_style2 li a {
    font-weight: 600;
    font-size: 14px;
    color: #1A385A !important;
}

.custom_nav_btn {
    font-weight: 500;
    font-size: 14px;
}

.c_nav_item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-right: 20px;
}

.c_nav_item img{
    width: 35px;
    height: 30px;
}

.c_nav_item a{
    padding: 0px !important;
    font-family: 'Barlow Condensed', sans-serif;
}

.ilt_logo{
    font-weight: 600;
    color: #dcd5dc !important;
}

.ilt_logo img{
    width: 75px;
}

.fixed-top.nav_bg_change {
    background-color: #fff !important;
    transition: background-color 200ms linear;
}

/* .nav_bg_change > .container-fluid > .ilt_logo > img {
    width: 50px;
} */

.scrolled li a {
    color: #1A385A !important;
    transition: color 200ms linear;
}

.c_banner{
    /* background-image: url("../img/b_img.jpg");
    height: 90vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    position: relative;
    display: flex;
    align-items: center;
}

.banner_style {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    opacity: .7;
}

.c_banner_content{
    position: absolute;
    padding: 0rem 10rem;
}

.c_banner_content h1{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 4rem;
}

.c_banner_content p{
    margin-top: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
}

.c_counter{
    background: black;
    width: 150px;
    height: 100px;
    position: absolute;
    bottom: calc(0px - 50px);
    font-family: 'Barlow Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.c_counter h1{
    color: #fff;
    margin: 0px;
}

.c_counter p{
    color: #fff;
    text-transform: uppercase;
}

.custom_c_img {
    height: 100vh;
    object-fit: cover;
}

.custom_c_indicators {
    top: 150px !important;
    left: 0px !important;
    right: auto !important;
    margin-left: 140px !important;
    flex-direction: column !important;
    justify-content: left !important;
    align-items: center !important;
}

.custom_c_btn {
    width: 3px !important;
    height: 70px !important;
    border: none !important;
}

.custom_c_number {
    margin: 5px 0px;
    color: #fff;
}

.custom_c_content {
    top: 170px;
    left: 220px;
    text-align: left;
}

.custom_c_header {
    font-size: 3rem;
    font-weight: 600;
}

.custom_c_title {
    font-size: 1.25rem;
    font-family: 'Barlow Condensed', sans-serif;
}

.fog {
    position: absolute;
    margin-top: -200px;
    width: 100% !important;
}

.banner_form_main{
    position: absolute;
    right: 10rem;
    background: white;
    padding: 3rem 2rem;
}

.banner_form_main h1{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.banner_form_main input{
    font-family: 'Barlow Condensed', sans-serif;
    margin-bottom: 1rem;
    width: 450px;
    font-size: 1.3rem;
}

.banner_form_main input:focus{
    box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 25%) !important;
    border-color: #000 !important;
}

.banner_form_main button:hover{
    background-color: #4e4e4e;
}

.banner_form_main button:focus{
    box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 25%) !important;
}

.banner_form_main button{
    font-family: 'Barlow Condensed', sans-serif;
    width: 450px;
    background-color: #000;
    color: #fff !important;
    font-size: 1.4rem;
    border-radius: 25px;
    margin-top: 2rem;
}

.explore_content {
    margin-top: 150px;
    margin-bottom: 150px;
}

.explore_main {
    border-left: 4px solid #fcbd34;
    padding-left: 20px;
    margin-bottom: 2rem;
}

.explore_main h5 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1rem;
    margin-bottom: 0px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-left: 2px;
    color: #769ABE;
}

.explore_main p {
    color: #000;
    margin: 0px;
    font-size: 1.75rem;
    font-weight: 600;
}

.explore_content .owl-theme .owl-nav {
    display: none !important;
    float: left !important;
}

.explore_content .owl-theme .owl-dots {
    float: right !important;
    margin: 40px 20px 0px 0px;
}

.explore_content .owl-theme .owl-dots::before {
    content: '01';
    padding-left: 5px;
    font-size: 0.8rem;
}

.explore_content .owl-theme .owl-dots::after {
    content: '05';
    padding-right: 5px;
    font-size: 0.8rem;
}

.explore_content .owl-theme .owl-dots .owl-dot span {
    width: 40px !important;
    height: 3px !important;
    margin: 0px !important;
    border-radius: 0px !important;
}

.explore_content .owl-theme .owl-dots .owl-dot {
    padding: 0px !important;
}

.explore_content .owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #039dbf !important;
}

.explore_slide_div {
    height: 370px;
    background: #000;
    border-radius: 15px;
}

.explore_slide_div:hover {
    cursor: pointer;
}

.explore_slide_img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: .7;
    border-radius: 15px;
}

.explore_slide_img:hover {
    opacity: 1;
}

.explore_text_div {
    position: absolute;
    bottom: 0;
    color: white;
}

.explore_text_header {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.5rem;
    margin: 0px 10px 5px 20px;
}

.explore_text_title {
    font-size: .75rem;
    margin: 5px 10px 10px 20px;
}

.explore_col1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.offers_content{
    margin-bottom: 150px;
}

.rotate90 {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    text-transform: uppercase;
    margin: 0px;
    letter-spacing: 10px;
    font-weight: 600;
}

.about_content {
    margin-bottom: 150px;
}

.about_col1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 100px;
}

.about_header {
    border-left: 4px solid #fcbd34;
    padding-left: 20px;
    margin-bottom: 2rem;
}

.about_header h5 {
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 3px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 0px;
    padding-left: 2px;
}

.about_header p {
    color: #fff;
    margin: 0px;
    font-size: 1.75rem;
    font-weight: 600;
}

.about_title p {
    font-family: 'Barlow Condensed', sans-serif;
    color: #fff;
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.about_title button {
    font-family: 'Barlow Condensed', sans-serif;
    background: #fcbd34;
    border: none;
    box-shadow: none;
    padding: 10px 40px;
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 600;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.about_title button i {
    font-size: 1.25rem;
    margin-left: 10px;
}

.about_title button:hover {
    margin-left: 30px;
    transition: margin-left 250ms linear;
}

.about_image {
    height: 400px;
    background-color: #efefef;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_logo{
    width: 250px;
}

.social_icon_div {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.social_icon_div i {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #000;
}

.itinerary_content {
    margin-bottom: 150px;
}

.itinerary_header {
    border-left: 4px solid #fcbd34;
    padding-left: 20px;
    margin-bottom: 2rem;
}

.itinerary_header h5 {
    font-family: 'Barlow Condensed', sans-serif;
    color: #769ABE;
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 0px;
    letter-spacing: 3px;
    padding-left: 2px;
}

.itinerary_header p {
    color: #000;
    margin: 0px;
    font-size: 1.75rem;
    font-weight: 600;
}

.filterItinerary {
    background-color: #000;
    color: #ffffff;
    width: 20%;
    text-align: center;
    display: none;
    height: 350px;
}

.showItinerary {
    display: block !important;
    position: relative;
}

.showItinerary .hide_onhover {
    position: absolute;
    bottom: 1rem;
    left: 1.5rem;
    font-size: 1.25rem;
}

.itinerary_div {
    margin-top: 20px;
    overflow: hidden;
    display: flex;
    /* flex-wrap: wrap; */
}

.itinerary_div h5{
    position: absolute;
    color: white;
    bottom: 0px;
    padding: 2rem 1rem;
}

.itn_btn {
    /* font-family: 'Barlow Condensed', sans-serif; */
    border: 1px solid #000;
    outline: none;
    padding: 10px 20px;
    background-color: #fff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    width: 15%;
    border-radius: 5px;
}

.itn_btn:hover {
    background-color: #b1b1b1;
    border: 1px solid #b1b1b1;
    color: #fff;
}

.itn_btn.itn_active {
    background-color: #000;
    border: 1px solid #000;
    color: white;
}

#topItineraries {
    display: flex;
    justify-content: space-between;
}

.itn_image {
    width: 100%;
    object-fit: cover;
    height: 100%;
    opacity: .4;
}

.itn_overlay {
    position: absolute;
    top: 50%;
    /* background: linear-gradient(0deg,#000 0,rgba(0,0,0,.6110819327731092) 64%,rgba(0,212,255,0) 100%); */
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s;
    padding-left: 20px;
}

.showItinerary:hover .itn_overlay {
    width: 100%;
    text-align: left;
    transition: 1s ease-in-out;
}

.showItinerary:hover .hide_onhover {
    display: none;
}

.itn_overlay h5 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.itn_overlay p {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.itn_overlay button {
    background: #fcbd34;
    border: none;
    box-shadow: none;
    padding: 10px 20px;
    font-size: 0.75rem;
    text-transform: capitalize;
    font-weight: 600;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.itn_overlay button i {
    font-size: 0.75rem;
    margin-left: 5px;
}

.showItinerary:hover {
    width: 25%;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.nl_header {
    border-left: 4px solid #fcbd34;
    padding-left: 20px;
    margin-bottom: 2rem;
}

.nl_header h5 {
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 3px;
    padding-left: 2px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 0px;
}

.nl_header p {
    color: #fff;
    margin: 0px;
    font-size: 1.75rem;
    font-weight: 600;
}

.pd_100_0 {
    padding: 100px 0px;
}

.company_section p {
    color: #fcbd34;
    font-size: 1.25rem;
}

.company_section ul {
    font-family: 'Barlow Condensed', sans-serif;
    color: #fff;
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-size: 1rem;
    line-height: 2rem;
    text-transform: capitalize;
}

.region_section p {
    color: #fcbd34;
    font-size: 1.25rem;
}

.region_section ul {
    font-family: 'Barlow Condensed', sans-serif;
    color: #fff;
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-size: 1rem;
    line-height: 2rem;
    text-transform: capitalize;
}

.queries_section p {
    color: #fcbd34;
    font-size: 1.25rem;
}

.queries_section ul {
    font-family: 'Barlow Condensed', sans-serif;
    color: #fff;
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-size: 1rem;
    line-height: 2rem;
}

.queries_section ul li i {
    margin-right: 10px;
}

.ft_reg_section {
    margin-top: 10rem;
    text-align: right;
}

.ft_reg_section div i {
    color: #fff;
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
}

.ft_reg_section p {
    color: #fff;
    font-size: .75rem;
}

.dest_banner_container {
    margin-top: 150px;
    margin-bottom: 150px;
}

.dest_breadcrumb a {
    font-family: 'Barlow Condensed', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}

.dest_banner_content {
    margin-top: 2rem;
    margin-right: 2.5rem;
}

.dest_banner_content h1 {
    font-size: 2rem;
}

.dest_banner_content h5 {
    font-size: .9rem;
}

.dest_banner_content p {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.1rem;
}

.dest_banner_img {
    width: 100%;
    height: 350px;
    border-radius: 30px;
    object-fit: cover;
}

.dest_included_section {
    position: relative;
    padding-top: 50px;
    margin-bottom: 150px;
}

.dest_included_bg {
    position: absolute;
    top: 0;
    z-index: -1;
    background: #f7f7f7;
    height: 250px;
    width: 100%;
    border-top-left-radius: 100px;
}

.dest_included_main {
    border-left: 4px solid #fcbd34;
    padding-left: 20px;
    margin-bottom: 2rem;
}

.dest_included_main h5 {
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 3px;
    /* padding-left: 2px; */
    font-size: 1rem;
    margin-bottom: 0px;
    text-transform: uppercase;
}

.dest_included_main p {
    margin: 0px;
    font-size: 1.75rem;
    font-weight: 600;
}

.included_slide_div {
    background-color: rgb(255, 255, 255);
    height: 200px;
    margin-bottom: 50px;
    margin-right: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.included_slide_div img {
    padding-top: 1rem;
    width: 70px !important;
}

.included_text_div {
    padding: 1.5rem;
}

.included_text_div h5{
    font-size: 1.2rem;
}

.included_text_div p{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.1rem;
}

.dest_highlights_section {
    position: relative;
    padding-top: 50px;
    border-top-right-radius: 100px;
    margin-bottom: 150px;
    background: #000;
    padding-bottom: 50px;
}

.dest_highlights_bg {
    position: absolute;
    top: 0;
    z-index: -1;
    background: #000;
    width: 100%;
    height: 250px;
    border-top-right-radius: 100px;
}

.dest_highlights_main {
    border-left: 4px solid #fcbd34;
    padding-left: 20px;
    margin-bottom: 2rem;
}

.dest_highlights_main h5 {
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 3px;
    padding-left: 2px;
    font-size: 1rem;
    margin-bottom: 0px;
    text-transform: uppercase;
    color: #fff;
}

.dest_highlights_main p {
    margin: 0px;
    font-size: 1.75rem;
    font-weight: 600;
    color: #fff;
}

.dest_highlights_section img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.dest_highlights_card{
    padding: 20px;
    background: #1c1c1c;
    margin-bottom: 2rem;
}

.dest_highlights_card h5{
    color: #fff;
    margin: 1rem 0rem .5rem 0rem;
    font-family: 'Open Sans', sans-serif;
}

.dest_highlights_card h4{
    color: #999;
    margin: .5rem 0rem 1rem 0rem;
    font-size: .8rem;
    font-family: 'Open Sans', sans-serif;
}

.dest_highlights_card h3{
    color: #fff;
    margin: .5rem 0rem;
    font-size: 1rem;
    font-family: 'Barlow Condensed', sans-serif;
}

.dest_highlights_card p{
    color: #fff;
    margin: 1rem 0rem;
    font-family: 'Barlow Condensed', sans-serif;
    height: 100px;
}

.mr_b_12 {
    margin-bottom: 12px;
}

.flip_card {
    height: 250px;
    perspective: 1000px;
}

.flip_card_inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip_card:hover .flip_card_inner {
    transform: rotateY(180deg);
}

.flip_card_front,
.flip_card_back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip_card_back {
    background-color: #769ABE;
    color: white;
    transform: rotateY(180deg);
}

.flip_card_front {
    background-color: #bbb;
    color: black;
}

.dest_itinerary_main{
    position: relative;
}

.dest_itinerary_main_bg{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.dest_itinerary_main_bg img{
    opacity: .07;
    width: 100%;
    height: 100%;
    border-top-left-radius: 100px;
}

.dest_itinerary {
    display: flex;
}

#dest_itinerary_day{
    align-items: center;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.itn_btn2 {
    border: none;
    outline: none;
    padding: 10px 20px;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 600;
    width: 50%;
    border-radius: 5px;
    color: #747474;
}

.itn_btn2:hover {
    color: #181818;
    font-size: 1.5rem;
}

.itn_btn2.itn_active {
    color: #181818;
    font-size: 2rem;
}

.dest_itinerary_content{
    width: 70%;
}

.filterItineraryDay {
    display: none;
}

.showItineraryDay {
    display: block !important;
    position: relative;
}

.filterItineraryDay h4{
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-weight: 400;
}

.filterItineraryDay h5{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    color: #1b2339;
}

.filterItineraryDay > ul{
    list-style: square;
    margin-bottom: 1.5rem;
}

.filterItineraryDay > ul > li > p{
    font-family: 'Open Sans', sans-serif;
    margin-bottom: .75rem;
}

.filterItineraryDay > ul > li > p > span{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1rem;
}

.filterItineraryDay h3{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.1rem;
}

.dest_itinerary_travel_logo{
    width: 400px;
    position: absolute;
    bottom: 0;
    right: 2rem;
}

.package_content {
    margin-top: 150px;
    margin-bottom: 100px;
}

.trending_content{
    margin-bottom: 100px;
}

.bestselling_main{
    display: flex;
    flex-wrap: wrap;
}

.trending_main{
    display: flex;
    flex-wrap: wrap;
}

.rm_a{
    color: #000 !important;
    text-decoration: none !important;
}

.bestselling_card{
    width: 30%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 3rem;
    margin-right: 3%;
}

.bestselling_card img{
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.bestselling_card h5{
    font-family: 'Barlow Condensed', sans-serif;
    padding: 1.5rem 1rem 0.5rem 1rem;
    font-size: 1.5rem;
    margin: 0px;
}

.bestselling_card p{
    font-family: 'Barlow Condensed', sans-serif;
    padding: 0rem 1rem 1.5rem 1rem;
    font-size: 1rem;
    margin: 0px;
}

.bestselling_card .topsection{
    position: relative;
}

.bestselling_card .startingfrom{
    position: absolute;
    top: 1rem;
    background: black;
}

.bestselling_card .startingfrom h4{
    font-family: 'Barlow Condensed', sans-serif;
    color: #fff;
    margin: 0px;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 0.7rem;
}

.bestselling_card .startingfrom h4 span{
    font-size: .8rem;
}

.bestselling_card .stayDays{
    position: absolute;
    bottom: -1rem;
    right: 2rem;
    background: black;
}

.bestselling_card .stayDays h4{
    font-family: 'Barlow Condensed', sans-serif;
    color: #fff;
    margin: 0px;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
}

.place_price_section{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.place_price_section h4{
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Barlow Condensed';
    margin: 0px;
}

.place_price_section span{
    font-size: 1rem;
}

.place_price_section button{
    background: black;
    height: 50px;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-family: 'Open Sans';
}

@media only screen and (max-width: 600px) {
    .custom_navbar {
        padding: 10px !important;
    }

    .navbar-toggler{
        border: none !important;
        box-shadow: none !important;
    }

    .carousel-indicators{
        display: none;
    }

    .custom_c_img {
        height: 50vh;
    }

    .explore_content {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .filterItinerary {
        width: 45% !important;
        height: 300px !important;
    }

    .showItinerary:hover{
        width: 50% !important;
    }

    .company_section{
        margin-bottom: 2rem;
    }

    .region_section{
        margin-bottom: 2rem;
    }
    
    .ft_reg_section{
        margin-top: 2rem;
        text-align: left;
    }

    .ft_reg_section div i{
        margin-left: 0px;
        margin-right: 1rem;
    }

    .xs_col_w{
        width: 50%;
    }
}

@media only screen and (max-width: 992px) {
    .custom_navbar {
        padding: 10px !important;
    }

    .navbar-toggler{
        border: none !important;
        box-shadow: none !important;
        background: #1A385A !important;
    }

    .carousel-indicators{
        display: none;
    }

    .explore_col1{
        display: none;
    }

    .social_icon_div {
        flex-direction: row;
        margin-top: 1rem;
    }
    
    .social_icon_div i {
        margin-right: 1rem;
    }

    .about_header {
        margin-top: 2rem;
    }

    .about_col1 {
        margin-bottom: 3rem;
    }

    .about_image {
        height: 250px;
        background-color: #769abe;
    }

    .about_content {
        margin-bottom: 100px;
    }

    #topItineraries{
        flex-wrap: wrap;
    }

    #topItineraries .itn_btn{
        width: 32%;
        margin-bottom: 1rem;
    }

    .itinerary_div {
        flex-wrap: wrap;
    }

    .filterItinerary {
        width: 30%;
    }

    .showItinerary:hover{
        width: 35%;
    }

    .itinerary_content {
        margin-bottom: 100px;
    }
}